%% -*- erlang -*-
{sub_dirs, ["rel", "src"]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
          {amqp_client,   ".*",    {git, "git://github.com/babaische/amqp_client.git", "master"}},
          {lager,   ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
       ]}.