{deps_dir,["deps"]}.
{deps, [
    {amqp_client, ".*", {git, "http://10.1.200.11:8008/scm/git/amqp_client", {branch, "master"}}},
    {rabbit_common, ".*", {git, "http://10.1.200.11:8008/scm/git/rabbit_common", {branch, "master"}}},
    {lager, ".*", {git, "http://10.1.200.11:8008/scm/git/lager", {branch, "master"}}}
]}.